
		.contain{
			display: flex;
			flex-wrap: nowrap;
			column-count: 1;
			background-color: white;
			height: 500px;
			width: 100%;

		}
		.contain .first{
			justify-content: center;
			margin-top: 11%;
			margin-right: 15%;
			height: max-content;
			    position: relative;
    left: 25px;
		}
		.contain div{
			margin: 10px;
		}
		.second{
			position: relative;
			left: -80px;
			display: block;
			column-count: 1;
			width: 100%;
		}
		.second .hd{
			position: relative;
			top: 25px;
			left: 0px;
		}
		#Email{
            height: 30px;
            width: 300px;
            margin-bottom: 30px;
		}
		#pass{
            height: 30px;
            width: 300px;
		}
		.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #4caf50 0,#1cc423 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.line{
	border-left: 3px solid #607d8bd6;
	height: 400px;
	position: relative;
    left: -57px;
    top: 41px;
}
.hd{
	padding-top: 7px;
    font-size: 25px;
    font-weight: bolder;
}
.ho{
	position: relative;
	top: 6px;
	right: 2px;
	font-weight: bolder;
}
.line-text{
	background-color: grey;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    position: relative;
    left: -55.1%;
    right: auto;
    top: 186px;
    bottom: auto;
}
#using{
	position: relative;
	bottom: -5rem;
}
.login-items{
	position: absolute;
	top: 125px;
}
.facebook{
	height: 50px;
	width: 140px;
	background-color: #201BEE;
	text-align: center;
	color: white;
}
.twitter{
	height: 50px;
	width: 140px;
	background-color: cyan;
	color: white;
}
.google{
	height: 50px;
	width: 140px;
	background-color: #F91A1A;
	text-align: center;
	color: white;
}
.tcs-ion{
	height: 50px;
	width: 140px;
	background-color: orange;
	text-align: center;
	color: white;
}

